* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  display: flex;
  flex-direction: column;
}
.lineBelowText {
  border-bottom: 5px solid transparent;
  margin: 0;
  width: 50%;
  padding: 0 0 10px 0;
  border-image: linear-gradient(to right, #e72357, #6e5ba2) 1;
  transition: 1s;
}
.lineBelowContent1 {
  border-bottom: 5px solid transparent;
  width: 55%;
  padding: 0 0 10px 0;
  margin: 0;
  border-image: linear-gradient(to right, #75c2cf, #6660a6) 1;
}
.lineBelowContent2 {
  border-bottom: 5px solid transparent;
  width: 55%;
  padding: 0 0 10px 0;
  margin: 0;
  border-image: linear-gradient(to right, #75c2cf, #39b38b) 1;
}

@media screen {
  
}